<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Aspectos Generales</title>
    <link rel="stylesheet" href="/styles/estilos.css">
</head>
<body>
    <div id="config">
        <p>Administrar Aspectos Generales</p><hr>
        <ul>
            <li><button><a>Sonido</a></button></li>
            <li><button><a>Imagen</a></button></li>
            <li><button><a>Perfil</a></button></li>
            <li><button><a>Cambiar Modo</a></button></li>
        </ul>
    </div>
    
</body>
</html>