<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles/estilos.css">
</head>
<body>
    <header>
        <div id="nav_bar">
            <ul>
                <li><a href="#">Opcion 1</a></li>
                <li><a href="#">Opcion 2</a></li>
                <li><a href="#">Opcion 3</a></li>
                <li><a href="#">Opcion 4</a></li>
                <li><a href="#">Opcion 5</a></li>
                <li><a href="#">Opcion 6</a></li>
                <li><button id="index_btn"><a href="registro.html">Registrese</a></button></li>
                <li><button id="config_btn"><a href="configuraciones.html">Administrar</a></button></li>
        </div>        
    </header>
    <div id="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, odio? Odio dolor mollitia sapiente alias repudiandae ipsam veniam? Quam repellendus laborum voluptate magni consequuntur quisquam officia vero culpa perferendis itaque.</p>
    </div>
</body>
</html>