<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resgistro</title>
    <link rel="stylesheet" href="/styles/estilos.css">
</head>
<body>
    <form action="register_form">
        <div id="formRegistro">
            <h1>Formulario de Registro</h1>
            <form action="#" method="post">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" placeholder="Nombre" class="texto">
                    <label for="user">Usuario de preferencia:</label>
                    <input type="text" name="user" placeholder="Usuario" class="texto">
                    <label for="pass">Contraseña:</label>
                    <input type="text" name="password" placeholder="Contraseña" class="texto">
                    <label for="telefono">Teléfono Movil:</label>
                    <input type="text" name="telefono" placeholder="e.g: 555 55 55" class="texto">
                    <label for="direccion">Dirección:</label>
                    <input type="text" name="direccion" placeholder="e.g: Cra 45 # 12 - 34 " class="texto">
                    <label for="email1">Correo Electrónico:</label>
                    <input type="text" name="email1" placeholder="Correo electrónico" class="texto">
                    <label for="email2">Confirmar Correo Electrónico:</label>
                    <input type="text" name="email2" placeholder="Confirmar correo electrónico" class="texto">
                    <input id="Registerbutton" type="submit" name="enviar" value="Enviar" class="boton">
    </form>
</body>
</html>